extends layout

block content
  h1= title
  p Welcome to #{title}
  p For Task #2 I intialized an Express app and amended the text rendered on the index page using the index.jade template under views. 


